doctype html
html
	head
		include ../comp/head
	body
		//-Navbar-//
		include ../comp/navbar
		//- main
		main.container
			section.row
				//- b1
				.card.one-third.column
					.card-img
						img(src="/img/short.jpg")
					.card-title
						h1 Sublime
					.card-foot
						.site Ghost
						.date 12 | 34 | 2021
				//- b2
				.card.one-third.column
					.card-img
						img(src="/img/linux.png")
					.card-title
						h1 Node
					.card-foot
						.site Ghost
						.date 12 | 34 | 2021
				//- b3
				.card.one-third.column
					.card-img
						img(src="img/api.png")
					.card-title
						h1 API
					.card-foot
						.site Ghost
						.date 12 | 34 | 2021


		include ../comp/footer
		
