footer
	a <span class="iconify" data-icon="mdi:twitter" data-inline="false"></span>
	a <span class="iconify" data-icon="mdi:github" data-inline="false"></span>
	a <span class="iconify" data-icon="mdi:instagram" data-inline="false"></span>
