nav
	ul.row
		li.two.columns
			a(href="/")
				span(class="iconify" data-icon="akar-icons:home" data-inline="false")
		li.two.columns
			a(href="/about") 
				span(class="iconify" data-icon="carbon:blog" data-inline="false")
		li.two.columns
			a(href="/blog")
				<span class="iconify" data-icon="fluent:person-32-regular" data-inline="false"></span>